body{
    background-color: lightblue;
}

.list-container{
    padding: 10px 0 10px 0;
    margin: 5% 15% 0% 15%;
    background-color: white;
    text-align: center;
    border: 5px solid #044c80;
}

.toDoTask{
    padding-left: 3%;
    padding-right: 3%;
    overflow-wrap: break-word;
}

.toDoTaskRow{
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

hr {
    width: 5%;
    margin-bottom: 40px;
    height: 0;
    border: none;
    border-top: 4px dotted #044c80;
    margin-top: 10px;
}

.crossed-text {
    text-decoration: line-through;
}

.taskBTNs {
    margin: auto;
}

#tasks, .addTaskBtn{
    margin-top: 20px;
}

.addTaskBtn{
    margin-top: 5px;
}